// Theme color palette

// Primary color
$primary-1: #686868; //body text color
$primary-2: #4f4f4f; //headings color and other theme color


// Secondary color
$secondary-1: #eee; //bg color 
$secondary-2: #007bff; // link color


// Monochrome color
$monochrome-1: #ffffff; //$white
$monochrome-2: #000000; //$black
$monochrome-3: #b9b7b7; //$grey - box-shadow / border-color